@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@layer componets {
  .br-shape {
  clip-path: polygon(100% 0, 100% 98%, 25% 100%, 0 98%, 0 0);
}

}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.outfit-light {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.outfit-strongBold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


/* @layer utilities {
    .max-container {
      @apply w-full mx-auto max-w-[1440px];
    }
  
    .padding-container {
      @apply px-6 lg:px-20 3xl:px-0;
    }

    .flexBetween {
      @apply flex items-center justify-between
    }
}   */


