@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.font-outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 500; */
    font-style: normal;
  }
  

@layer components{
    .br-shape{
        clip-path: polygon(100% 0, 100% 98%, 39% 100%, 0 96%, 0 0);
    }
}

@layer components{
    .br1-shape{
        clip-path: polygon(50% 5%, 100% 20%, 100% 77%, 49% 93%, 10% 87%, 0 38%, 23% 14%);
    }
}